/* SALES */
.sale .title {
  margin-bottom: 10px;
}

.sale .head {
  display: flex;

  margin-bottom: 36px;
  justify-content: space-between;
}

.sale .btns {
  display: none;
  column-gap: 8px;
}

.sale .categorys {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.category.active {
  background-color: #303030;
  color: #fff;
}

.category:not(.active):hover {
  background-color: #dddddd;
}

.sale .row.first {
  row-gap: 0;
}

.row.first .column {
  height: 500px;
  width: 100%;
}

.sale .card {
  position: relative;
  padding: 40px 24px 24px;
  border: 1px solid #f0f0f0;
}

.sale .card:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.card:hover .hide {
  display: block;
}

.card .tag {
  user-select: none;
  position: absolute;
  top: 16px;
  left: 24px;
  width: 50px;
  height: 21px;
  border-radius: 999px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: #ffffff;
  background-color: #5b8a8f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .act {
  position: absolute;
  top: 19px;
  right: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 15.5px;
}

.card .act {
  z-index: 9999;
  cursor: pointer;
  display: flex;
}

.act .icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  background-color: #c9c9c9;
  -webkit-mask-size: 20px 18px;
  mask-size: 20px 18px;
  mask-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.act .icon.watch {
  -webkit-mask-image: url(../../images/icons/watch.svg);
  mask-image: url(../../images/icons/watch.svg);
}

.act .icon.heart {
  -webkit-mask-image: url(../../images/icons/heart-fill.svg);
  mask-image: url(../../images/icons/heart-fill.svg);
}

.action:hover .icon {
  background-color: #979797;
}

.action.icon-heart.active .icon {
  background-color: #e24b33;
}
.sale .thumb {
  position: relative;
  display: flex;
  justify-content: center;
}

.thumb img {
  display: block;
}

.price-block {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 21px;
}

.card .desc {
  height: 44px;
  --line-clamp: 2;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #303030;
}

.sale .hide {
  display: none;
  margin-top: 24px;
}

.sale .choose {
  height: 40px;
  position: relative;
  cursor: pointer;
  padding: 9px 16px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale .choose + .choose {
  margin-top: 8px;
}

.sale .choose::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url(../../images/icons/arrow-down.svg);
}

.sale .choose.active::after {
  transform: rotate(180deg);
}

.choose.active .toggle-list {
  display: block;
}

.row.second .column {
  width: 100%;
}

.adv {
  position: relative;
  height: 290px;
  background-color: #f8f8f8;
  padding: 72px 26px 48px;
}

.adv .percent {
  position: relative;
  z-index: 2;
  user-select: none;
  width: 194px;
  height: 52px;
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -24px;
}

.adv.first .percent {
  background-color: #43807f;
}

.adv.second .percent {
  background-color: #e24b33;
}

.adv.third .percent {
  background-color: #e1a661;
}

.adv .image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.adv.first .image {
  right: 18px;
}

.adv.third .image {
  bottom: 0;
}
